img {
  width: 200px;
}
h1 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 85px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }

h4 { color: #7a7c7f; font-family: 'Open Sans', sans-serif; font-size: 24px; font-weight: 300; line-height: 32px; margin: 0 0 14px; }

body{font-style: italic; color: #2CA4B0; font-size: 22px; margin-top: 20px; text-align: left; text-shadow: 0 1px 1px #fff;